canvas {
  background-color: #1C1C1C;
}
#statistics {
  opacity: 0.5;
  border-collapse: collapse;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
table {
  position: absolute !important;
  top: 10px;
  left: 10px;
  opacity: 0.5;
}
table, th, td {
  border-color: solid white;
  color: white !important;
}

.danger th {
  color: #FFA500 !important;
}

.danger td {
  color: #FFA500 !important;
}

.success th {
  color: #32CD32 !important;
}

.success td {
  color: #32CD32 !important;
}
